.ed-nav-align{
    margin-left: 20%;
}
.nav-logo img{
    width: 200px;
}

.myimage{
    filter: brightness(30%);
    width: 30%;
    height: 20%;
}
.ed-sub-title{
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
  
}
.ed-bg-info{
    background: #9ad2f3;
    border-radius: 5px;
}
